<div id="movie-details" class="movie-details-main-container" style="display: none;">
  <div id="details-main">
    <iframe id="youtube-trailer" iframe width="320" height="188" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div id="movie-details-summary" class="movie-details-summary-container">
      <button id="open-theater-url-button" (click)="openTheaterUrl($event)">
        <i class="fas fa-film"></i>Theater</button>
      <div id="showtimes-container" class="showtimes-container">

      </div>
      <div>
        <p></p>
      </div>
    </div>
  </div>
</div>