  
 html,body{
     width: 100%;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 a{
     color: inherit!important;
    text-decoration: none!important;
    text-decoration-line: none!important;
    text-decoration-color: inherit!important;
 }
 .main-container{
  
    max-height: 1024px;
    max-width: 768px;
    height: 100%;
    width:100%;
    overflow-y: hidden;
    background-color: #f9f9f9;

 }
  
.movie-tile-main-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
   
    
}
.movie-row-tile-container{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border: lightgray solid thin;



}
.movie-row-tile-container div:nth-of-type(1){
    height: 248.6px;
    max-height: 249px;
    min-height: 248.6px;
    background-color: white;
    overflow-y: hidden;
    text-align: center!important;
}
.movie-row-tile-container div:nth-of-type(1) img{
    display: inline!important;
}
.movie-row-tile-container div:nth-of-type(2) {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    /* padding-bottom: 25px; */
    background-color: white;
    min-height: 50px;
    max-height: 50px;
}
.movie-row-tile-container div:nth-of-type(3) {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
    min-height: 25px;
    max-height: 25px;
    color: gray;
}
.movie-row-tile-container h4{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1.2em;
   

}
.movies-displayed-container{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}
.movie-tile-heading{

}
.movie-tile-subheading{

}
 .phone-navigation-top-container{
    
    position: relative;
    width: 100%;    
    height: 50px;
    top: 0%;
    background-color: #eee;

 }
 .phone-navigation-top-text-header{
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: .5px;
    padding-top: 5px;
    color: #464646;
 }
 .display-selection-main-container{
    background-color: #eee;
 }
 .display-selection-main-container span{
    width: 49%;
    display: inline-block;
    text-align: center;
    padding: 0 0 10px 0;
 }
 .display-selection-main-container span:hover{
    color: black;
    font-weight: bold;
 }
 .display-selection-highlighter{
    background-color: #adcce6;
    position: absolute;
    left: 0;
    width: 50%;
    height: 4px;
    z-index: 1;
    transition: left 1s;
     
 }
 .phone-navigation-bottm-container{
    
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0%;
    background-color: #eee;
    border-top: gray solid thin;

 }
 .phone-navigation-row{
    text-align: center;
    height: auto;
    position: relative;
    width: 100%;


} 
 .phone-navigation-row div{
    position: relative;
    width: 12%;
    min-width: 12%;
    height: auto;
    padding-top: 4px;
    
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    color: gray;
    text-align: center;
    z-index: 1;



}
 .phone-navigation-row svg{
    font-size: 6vw;
 }
 .phone-navigation-row div span:nth-of-type(1){
    font-size: 3vw;

 }
 .phone-navigation-row div:active{
     color: white;
     
 }
 .phone-navigation-row div:active::after{
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    left: -10%;
    top: 0%;
    z-index: -1;
    background-color: #adcce6;
    
 }
 .phone-navigation-bottm-container svg{
    font-size: 2.0em;
}
 

.banner-container{
    width: 100%;
    height: auto;
    /* min-height: 300px; */
    /* overflow-y: hidden; */
    text-align: center;
    margin-bottom: 20px;
    position: relative;
     
    border-bottom: solid thin;
    border-bottom-color: lightgray;

}
.banner-container img{
    width: inherit;
}
.banner-row{
    width: 100%;
    height: auto;
}
.sub-container-header{
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background-color: white;
 
}
.sub-container-header h4{
    margin-top: 0;
}
.sub-container-header p{
    margin: 0 0 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: inherit;
    /* height: 500px; */
    width: 100%;
    display: block;
}

.category-slide-main-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

#in-theaters{
    left: -100%;
    transition: left 1s;
}
#in-theaters h1,h2,h3{
text-align: center
}
#coming-soon{
    left: 0;
    transition: left 1s;
}