<link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">

<link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes">
<link href="assets/images/covers/apple_splash_2048.png" sizes="2048x2732" rel="apple-touch-startup-image" />
<link href="assets/images/covers/apple_splash_1668.png" sizes="1668x2224" rel="apple-touch-startup-image" />
<link href="assets/images/covers/apple_splash_1536.png" sizes="1536x2048" rel="apple-touch-startup-image" />
<link href="assets/images/covers/apple_splash_1125.png" sizes="1125x2436" rel="apple-touch-startup-image" />
<link href="assets/images/covers/apple_splash_1242.png" sizes="1242x2208" rel="apple-touch-startup-image" />
<link href="assets/images/covers/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
<link href="assets/images/covers/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" />

<!-- <script src="/node_modules/jquery/dist/jquery.slim.js"></script> -->


<!-- <div class="container table-iphone">
  <!-- <div class="tile-container-row">
   
    <div *ngFor="let movie of Movies"   (click)="openDetails(event)" class="  tile-parent">
      <div class="tile-image-container">
        <img src={{movie.poster_sm.src}} class="img-responsive" />

      </div>
      <div class="tile-subheader-container">


        <div class="tile-subheader-title">{{movie.title}}</div>
        <br />
        <div class="tite-subheader-date">{{movie.releaseDate}}</div>

      </div>
     
    </div> -->
<!-- <div (click)="openDetails(event)" class="  tile-parent">
      <div class="tile-image-container">
        <img src="assets/images/covers/Howls_moving_castle_cover.jpg" class="img-responsive" />

      </div>
      <div class="tile-subheader-container">


        <div class="tile-subheader-title">Howls Moving Castle</div>
        <br />
        <div class="tite-subheader-date">12-15-19</div>

      </div>




    </div>
    <div (click)="openDetails(event)" class="  tile-parent">
      <div class="tile-image-container">
        <img src="assets/images/covers/Howls_moving_castle_cover.jpg" class="img-responsive" />

      </div>
      <div class="tile-subheader-container">


        <div class="tile-subheader-title">Howls Moving Castle</div>
        <br />
        <div class="tite-subheader-date">12-15-19</div>

      </div>




    </div>
    <div (click)="openDetails(event)" class="  tile-parent">
      <div class="tile-image-container">
        <img src="assets/images/covers/Howls_moving_castle_cover.jpg" class="img-responsive" />

      </div>
      <div class="tile-subheader-container">


        <div class="tile-subheader-title">Howls Moving Castle</div>
        <br />
        <div class="tite-subheader-date">12-15-19</div>

      </div>




    </div> -->
<!-- <hr />
  </div>

</div> -->


<div id ="main-container" class="main-container">
  <div class="phone-navigation-top-container">
    <div class="logo"></div>
    <div class="phone-navigation-top-text-header">
      <span>AnimeOsihrase</span>
    </div>
  </div>

  <div class="movie-tile-main-container">
    <div class="banner-container">
      <div class="banner-row">
        <img src="assets/images/covers/Howls_moving_castle_cover.jpg" class="" />
      </div>
      <div class="sub-container-header">
        <h4>Howls moving castle</h4>
        <p>Sophie (Emily Mortimer) has an uneventful life at her late father's hat shop, but all that changes when she befriends wizard Howl (Christian Bale), who lives in a magical flying castle. However, the evil Witch of Waste (Lauren Bacall) takes issue with their budding relationship and casts a spell on young Sophie, which ages her prematurely. Now Howl must use all his magical talents to battle the jealous hag and return Sophie to her former youth and beauty.</p>
      </div>
    </div>
    <div *ngFor="let movie of Movies">
      <div class="movie-row-tile-container" data-id={{movie.id}}  >
        <img src={{movie.poster_sm}} class="img-responsive" (click)="openDetails($event)" />
        <div>
          <h4>{{movie['title']}}</h4>
        </div>
        <div>
          <span>Rating:Na</span>
          <span></span>
        </div>
      </div>
    </div>
     
   

  <!-- Bottom navigation start  -->
  <div class="phone-navigation-bottm-container">
    <div class="phone-navigation-row">

      <div>
        <i class="fas fa-user-circle"></i>
        <br>
        <span>Account</span>
      </div>

      <div>
        <i class="fas fa-film"></i>
        <br>
        <span>Anime</span>
      </div>

      <div>
        <i class="fas fa-home"> </i>
        <br>
        <span>Home</span>
      </div>
    </div>

  </div>

</div>