<div id="main-container" class="main-container">
  <div class="phone-navigation-top-container">
    <div class="logo"></div>
    <div class="phone-navigation-top-text-header">
      <span>AnimeOsihrase</span>
    </div>
  </div>
  <div id="droid-navigation-main" class="droid-navigation-main-container">
    <span>Account</span><span>Anime</span><span>Home</span>
  </div>
  <!-- Select category start -->
  <div class="display-selection-main-container">
    <span id="select-AtoZ">
      <a onclick="slideInHome()">A To Z</a>
    </span>
    <span id="select-in-theater">
      <a onclick="slideNowInTheaters()" (click)="populateNowInTheaters($event)">In Theaters Now</a>
    </span>
    <span id="select-in-coming-soon">
      <a onclick="slideComingSoon()" (click)="populateComingSoon($event)">Coming Soon</a>
    </span>
  </div>
  <div id="selection-highlighter" class="display-selection-highlighter"></div>
<!-- select area end -->
  <div class="movie-tile-main-container">
    <div id="AtoZ" class="category-slide-main-container">

      <div class="movies-displayed-container">
        <div class="banner-container">
          <div class="banner-row">
            <img src="assets/images/movie poster/AttackOntitanBanner.jpg" class="" />
          </div>
          <div class="sub-container-header">
            <h4>Attack on Titan Season 2 Movie: Roar of Awakening</h4>
            <p>Produced by Wit Studio in cooperation with Production IG, the “Attack on Titan” (“Shingeki no Kyojin” in Japanese)
              anime series is adapted from the New York Times best-selling manga series by Hajime Isayama about the last
              of humanity fighting to survive against man-eating giants called Titans. To date, there are a total of 25 volumes
              in the manga series with an estimated 74M+ copies in print around the world.</p>
          </div>
        </div>
        <div *ngFor="let movie of Movies" (click)="openDetails($event)">
          <div class="movie-row-tile-container" data-id={{movie.id}}>
            <div data-id={{movie.id}}>
              <img src={{movie.poster_sm}} class="img-responsive" />
            </div>

            <div data-id={{movie.id}}>
              <h4>{{movie['title']}}</h4>
            </div>
            <div data-id={{movie.id}}>
              <span>Rating:Na</span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <app-now-in-theaters></app-now-in-theaters>
      <app-coming-soon></app-coming-soon>
      <!-- Bottom navigation start  -->

    </div>

  </div>

</div>
<div class="phone-navigation-bottm-container">
  <div class="phone-navigation-row">

    <div id='account'>
      <i class="fas fa-user-circle"></i>
      <br>
      <span>Account</span>
    </div>

    <div id="anime">
      <i class="fas fa-film"></i>
      <br>
      <span>Anime</span>
    </div>

    <div id="home">
      <i class="fas fa-home"> </i>
      <br>
      <span>Home</span>
    </div>
  </div>

</div>
<app-left-slide-panel></app-left-slide-panel>

<!-- movie title main container end -->

<!-- end main container -->