 
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
<link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">
<!-- <script type="text/javascipt" src="assets/lib/jquery/dis/jquery.js"></script> -->

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes" />
 
<div class="page-navigator-top">
  <span (click)="onBackPressed()">
    <i class="fas fa-chevron-left"></i>
  </span>
</div>
<div class="container table">
  <div id="youTube">
      <iframe width="320" height="188" src="https://www.youtube.com/embed/iwROgK94zcM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  
  </div>
  <hr />
  <div class=" container description">
    <p>
      A love story between an 18-year-old girl named Sophie, cursed by a witch into an old woman's body, and a magician named Howl.
      Under the curse, Sophie sets out to seek her fortune, which takes her to Howl's strange moving castle. In the castle,
      Sophie meets Howl's fire demon, named Karishifâ.
    </p>
  </div>
  <!-- <div id="youTube">
          <iframe width="560" height="315" ng-src={{srcTrusted(details.trailer)}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div> -->

</div>
<div class="theater-btn container">
  <a class="theater-info-btn"> Theater Info</a>
</div>
<script>
  //(navigator.standalone == true)
  //'serviceWorker' in navigator && navigator.serviceWorker.register('/serviceWorker');
</script>
<script>
  function onBackPressed() {
    window.location.href = "home";
  }
          //app.controller("mainController", ($scope, $http, $sce) => {
          //$scope.srcTrusted = function (code) {

          //    var url = `https://www.youtube.com/embed/` + code

          //    return $sce.trustAsResourceUrl(url);;
          //}

</script>