 
<div class="main-container">
    <div class="top-text-header-container">
        <div class="top-text-header">
            <span>Account</span>
        </div>
    </div>

    <div class="account-row" (click)='openLogin($event)'>
        <i class="fas fa-user-circle"></i>
        <span>Login</span>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="account-row" (click)='openCreateAccount($event)'>
        <i class="fas fa-user-circle"></i>
        <span>Create Account</span>
        <i class="fas fa-chevron-right"></i>
    </div>

</div>

  