<div class="main-container">
    <div class="top-text-header-container">
        <div class="top-text-header">
            <span>Account</span>
        </div>
    </div>

    <div class="account-row" (click)='openLogin($event)'>
        <div>
            <i class="fas fa-user-circle"></i>
            <span>Login</span>
        </div>
        <div>
            <i class="fas fa-chevron-right"></i>
        </div>

    </div>
    <div class="account-row" (click)='openCreateAccount($event)'>
        <div>
            <i class="fas fa-user-circle"></i>
            <span>Create Account</span>
        </div>
        <div>
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>

</div>